$font-family:              "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$code-font-family:         "Inconsolata", Consolas, monospace, serif;
$codeblock-font-family:    Consolas, "Inconsolata", monospace, serif;
$base-body-font-family:    $font-family;
$navbar-nav-font-family:   $base-body-font-family;

// discord
$color-blurple:                 #738bd7;
$color-blurple-light:           #c9d2f0;
$color-button-green:            #3ca374;

// color scheme
$color-brand:                   #4672b9; // referenced in html and favicon
$color-link:                    #039be5;
$color-link-sidebar:            #037ab7;
